<div class="navbar">

    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Search transactions..."
        >

    </div>

    <div class="nav-right">

        <button class="icon-btn">

            <i class="fa-regular fa-bell"></i>

        </button>

        <button class="icon-btn">

            <i class="fa-regular fa-envelope"></i>

        </button>

        <div class="profile">

            <img
                src="https://ui-avatars.com/api/?name=Sandeep&background=10B981&color=fff"
                alt="Profile"
            >

            <div>

                <h4>Sandeep</h4>

                <span>Premium User</span>

            </div>

        </div>

    </div>

</div>