<div class="sidebar">

    <div class="logo">

        <i class="fa-solid fa-wallet"></i>

        <h2>SpendWise</h2>

    </div>

    <div class="menu">

        <a href="#" class="active">

            <i class="fa-solid fa-table-columns"></i>

            <span>Dashboard</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-money-bill-transfer"></i>

            <span>Transactions</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-chart-pie"></i>

            <span>Analytics</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-route"></i>

            <span>Trip Mode</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-wallet"></i>

            <span>Budget</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-lightbulb"></i>

            <span>AI Insights</span>

        </a>

        <a href="#">

            <i class="fa-solid fa-gear"></i>

            <span>Settings</span>

        </a>

    </div>

    <div class="sidebar-footer">

        <div class="premium">

            <i class="fa-solid fa-crown"></i>

            <p>Spend Smarter</p>

        </div>

    </div>

</div>